$containerWidth: 58.75rem;
$baseFontSize: 16px;
$red: #e01f3d;
$darkGray: #666666;
$black: #292929;
$tablets: 768px;
$phones: 480px;
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans&family=Play:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "./media";
@import "./base.scss";
@import "../blocks/hero.scss";
@import "../blocks/header.scss";
@import "../blocks/menu.scss";
@import "../blocks/tel-number.scss";
@import "../blocks/feature.scss";
@import "../blocks/features.scss";
@import "../blocks/title.scss";
@import "../blocks/button.scss";
@import "../blocks/advantage";
@import "../blocks/advantages.scss";
@import "../blocks/section.scss";
@import "../blocks/heading.scss";
@import "../blocks/small-title.scss";
@import "../blocks/review.scss";
@import "../blocks/interactive-avatar.scss";
@import "../blocks/form.scss";
@import "../blocks/radio.scss";
@import "../blocks/fixed-menu.scss";
@import "../blocks/map";
@import "../blocks/footer";
@import "../blocks/social-network";
@import "../blocks/burger";
@import "../blocks/logo";
@import "../blocks/delivery-container";
@import "../blocks/footer-container";
@import "../blocks/slider";
@import "../blocks/characteristics";
@import "../blocks/arrow";
@import "../blocks/fullscreen-menu";
@import "../blocks/cross";
@import "../blocks/active";
@import "../blocks/team";
@import "../blocks/member";
@import "../blocks/modal";
@import "../blocks/horizontal-accordion";
@import "../blocks/player";