    .form {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        padding: 0 2%;
        @include tablets {
            flex-direction: column;
            padding: 0 19%;
        }
        @include phones {
            padding: 0;
        }
    }
    
    .form__col {
        flex: 1;
        margin-right: 1.63rem;
        &:last-child {
            margin-right: 0;
        }
        @include tablets {
            margin-right: 0;
        }
        .input-error {
            border: 3px solid #E01F3D;
        }
    }
    
    .form__row {
        display: flex;
        margin-bottom: 0.81rem;
    }
    
    .form__block {
        flex: 1;
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
        @include phones {
            line-height: 1.68;
        }
    }
    
    .form__title {
        @include tablets {
            font-size: 1.07rem;
        }
        @include phones {
            font-size: 1.14rem;
        }
    }
    
    .form__title--active {
        border: 3px solid;
    }
    
    .form__block--adress {
        margin-right: 0.81rem;
        &:last-child {
            margin-right: 0;
        }
    }
    
    .form__input {
        width: 100%;
        padding: 1.13rem 0.69rem;
        border: 3px solid transparent;
        border-radius: 4px;
        &:focus {
            border-color: #E01F3D;
            outline: none;
        }
        &--active {
            border: 3px solid #E01F3D;
            font-style: 'Open Sans', sans-serif;
            font-size: 1rem;
        }
        @include tablets {
            height: 2.4rem;
        }
    }
    
    .form__input--textarea {
        height: 9.5rem;
        resize: none;
        margin-bottom: 1rem;
        @include tablets {
            height: 5.5rem;
        }
        @include phones {
            height: 5.86rem;
            margin-bottom: 0.3rem;
        }
    }
    
    .form__select {
        display: flex;
        flex-wrap: wrap;
        @include phones {
            justify-content: center;
        }
    }
    
    .form__buttons {
        @include tablets {
            display: flex;
            justify-content: center;
            margin-bottom: 7.29rem;
        }
        @include phones {
            margin-left: 1rem;
        }
    }