.fullscreen-menu {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    background: #313131;
    z-index: 300;
}