.small-title {
    font-size: 1.5rem;
    margin-bottom: 0.44rem;
    font-weight: 700;
    color: $black;
    @include tablets {
        font-size: 1.55rem;
        line-height: 1.16;
        margin-bottom: 1.24rem;
    }
    @include phones {
        font-size: 1.71rem;
        margin-bottom: 0.64rem;
    }
}