.tel-number {
    display: inline-flex;
    padding-top: 10px;
    @include tablets {
        color: #E01F3D;
        font-size: 1.2rem;
    }
    @include phones {
        font-size: 1.15rem;
        align-self: center;
        color: #292929;
    }
}

.tel-number__link {
    display: flex;
}

.tel-number__text {
    font-size: 1.13rem;
    white-space: nowrap;
}

.tel-number__pic {
    flex-shrink: 0;
    align-self: center;
}

.tel-number__icon {
    display: inline-flex;
    width: 0.88rem;
    height: 0.94rem;
    margin-right: 0.38rem;
}